{% extends 'base.html' %} {% block tittle %} Страница треков {% endblock %} {%
block body %}
<div class="container">
  <h1>Songs</h1>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://avatars.mds.yandex.net/i?id=ec202821252c07d80d281b5fd851e634_l-3872711-images-thumbs&n=13" alt="Mount Everest"/>
            <div class="card-body">
              <p class="card-text">
                <h3>Labrinth - Mount Everest (Official Audio)</h3>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    onclick="window.location.href='https://www.youtube.com/watch?v=kwrYDTHKxiE';"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ytimg.com/vi/N7EKS2aW_oc/maxresdefault.jpg" alt="Formula"/>
            <div class="card-body">
              <p class="card-text">
                <h3>Labrinth – Formula (Official Audio) | Euphoria</h3>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    onclick="window.location.href='https://www.youtube.com/watch?v=N7EKS2aW_oc';"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ytimg.com/vi/HhoATZ1Imtw/maxresdefault.jpg" alt="Genius"/>
            <div class="card-body">
              <p class="card-text">
                <h3>LSD - Genius ft. Sia, Diplo, Labrinth</h3>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    onclick="window.location.href='https://www.youtube.com/watch?v=HhoATZ1Imtw';"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://avatars.mds.yandex.net/i?id=2aad04c887c06eb9893c6ad8c71eb5dc_l-7549373-images-thumbs&n=13" alt="Feuer Frei"/>
            <div class="card-body">
              <p class="card-text">
                <h3>Rammstein - Feuer Frei! (Official Video)</h3>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    onclick="window.location.href='https://www.youtube.com/watch?v=ZkW-K5RQdzo';"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ytimg.com/vi/ofypDmJGieg/maxresdefault.jpg" alt="Deutschland"/>
            <div class="card-body">
              <p class="card-text">
                <h3>Rammstein - Deutschland (Official Video)</h3>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    onclick="window.location.href='https://www.youtube.com/watch?v=NeQM1c-XCDc';"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.pinimg.com/originals/67/3f/21/673f21578dbfb977e5028bd638877145.jpg" alt="Reise"/>
            <div class="card-body">
              <p class="card-text">
                <h3>Rammstein - Reise, Reise (Official Lyric Video)</h3>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    onclick="window.location.href='https://www.youtube.com/watch?v=w6-6XHnmFtI';"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ytimg.com/vi/LkIWmsP3c_s/maxresdefault.jpg" alt="Dark"/>
            <div class="card-body">
              <p class="card-text">
                <h3>Fall Out Boy - My Songs Know What You Did In The Dark</h3>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    onclick="window.location.href='https://www.youtube.com/watch?v=LkIWmsP3c_s';"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ytimg.com/vi/LBr7kECsjcQ/maxresdefault.jpg" alt="Centuries"/>
            <div class="card-body">
              <p class="card-text">
                <h3>Fall Out Boy - Centuries (Official Video)</h3>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    onclick="window.location.href='https://www.youtube.com/watch?v=LBr7kECsjcQ';"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ytimg.com/vi/GNm5drtAQXs/maxresdefault.jpg" alt="Race"/>
            <div class="card-body">
              <p class="card-text">
                <h3>Fall Out Boy - This Ain't A Scene, It's An Arms Race</h3>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    onclick="window.location.href='https://www.youtube.com/watch?v=GNm5drtAQXs';"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
